##############################################################################
#
# Aliases Table Description
#
##############################################################################

## inputs
SSM::alias ii P::Root/ii
SSM::alias fi P::Root/fi
SSM::alias ai P::Root/ai
SSM::alias si P::Root/si
SSM::alias si_y P::Root/si.y
SSM::alias si_e P::Root/si.e
SSM::alias si_x P::Root/si.x
## outputs
SSM::alias io P::Root/io
SSM::alias fo P::Root/fo
SSM::alias ao P::Root/ao
SSM::alias so P::Root/so
SSM::alias so_x P::Root/so.x
SSM::alias so_y P::Root/so.y
SSM::alias so_e P::Root/so.e
