##############################################################################
#
# Aliases Table Description
#
##############################################################################

## inputs
SSM::alias segment P::Root/segment
SSM::alias trigger P::Root/trigger
## outputs
SSM::alias dx P::Root/dx
SSM::alias dy P::Root/dy
