SSM::set segment {((0.0, 0.0), (0.0, 0.0))}
SSM::set trigger false
SSM::check dx 0.0
SSM::check dy 0.0
SSM::cycle 1
SSM::set segment {((1.0, 2.0), (3.0, 4.0))}
SSM::set trigger false
SSM::check dx 2.0
SSM::check dy 2.0
SSM::cycle 1
SSM::set segment {((1.0, 2.0), (3.0, 4.0))}
SSM::set trigger false
SSM::check dx 2.0
SSM::check dy 2.0
SSM::cycle 1
SSM::set segment {((1.0, 2.0), (3.0, 4.0))}
SSM::set trigger true
SSM::check dx 2.0
SSM::check dy 2.0
SSM::cycle 1
SSM::set segment {((1.0, 2.5), (3.0, 4.0))}
SSM::set trigger true
SSM::check dx 2.0
SSM::check dy 1.5
SSM::cycle 1
SSM::set segment {((1.0, 2.5), (3.0, 4.0))}
SSM::set trigger false
SSM::check dx 2.0
SSM::check dy 1.5
SSM::cycle 1
